@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model WeatherModel
<div>@($"The temperature at {Model.Latitude}, {Model.Longitude} is currently {Model.Temperature} degrees Celcius")</div>