@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
}
<div class="text-center">
    <span>Enter a location and click "Go" to get the temperature.</span>
    <div>
        <label>Longitude:</label>
        <input id="longitude" type="text" inputmode="numeric"/>
    </div> 
    <div>
        <label>Lattitude:</label>
        <input id="latitude" type="text" inputmode="numeric" />
        <button id="btnGo" >Go</button>
    </div>
    <div id="weatherResult">
    </div>
</div>
